@model AçmaRapor
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-12 text-center">
    <h2 class="text-black text-uppercase">@Model.AçmaListesi.AçmaAdı Açması - @Model.RaporTarih Tarihli Rapor</h2>
</div>

<div class="card-body">
    <div class="row">
        <div class="col-6 ">
            <a asp-action="Index" class="btn btn-outline-primary bg-gradient mb-5 fw-semibold text-dark">
                <small>Listeye Geri Dön</small>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="sketchfab-embed-wrapper"> <iframe title="Vadagiai (Lithuania)" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share width="640" height="480" src="@Model.AçmaÜçBoyut?autospin=0&autostart=1&ui_theme=dark"> </iframe> </div>
        </div>
        <div class="col-6">
            <div class="row ps-2">
                <h4 class="text-dark">Açma Adı: @Model.AçmaListesi.AçmaAdı</h4>
                <hr />
            </div>
            <div class="row ps-2">
                <h4 class="text-dark">Rapor Tarihi: @Model.RaporTarih</h4>
                <hr />
            </div>
            <div class="row ps-2">
                <h4 class="text-dark">Açma Sorumlusu: @Model.RaporYazar</h4>
                <hr />
            </div>
            <div class="row ps-2">
                <h4 class="text-dark">Açılış Kotu: @Model.AçılışKotu</h4>
                <hr />
            </div>
            <div class="row ps-2">
                <h4 class="text-dark">Kapanış Kotu: @Model.KapanışKotu</h4>
                <hr />
            </div>
            <div class="row ps-2">
                <h4 class="text-dark">@Html.Raw(@Model.RaporDetay)</h4>
                <hr />
            </div>        
        </div>
    </div>
</div>